## Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace/xcuserdata/
**/*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Packages
.swiftpm/
.package.resolved

## Xcode Logs
*.xcactivitylog
*.xccheckout
*.xcresult

## SwiftPM
.build/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcshareddata
.swiftpm/xcode/xcuserdata

## CocoaPods (если появится)
Pods/
podfile.lock

## Carthage (если появится)
Carthage/Build

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Mac files
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.lock
*.orig
*.log

## User-specific Xcode
xcuserdata/

## iOS specific
*.ipa
*.app.dSYM.zip
*.dSYM

## SPM Artifacts
Artifacts/

## Preview content
*.preview-thumbnails
.previews/

## Firebase / secrets (если будут)
GoogleService-Info.plist

## Environment
.env

